---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="flex flex-wrap gap-3 items-center justify-between px-3 py-8 w-full border-b">
	<h2>
		<a href="/" class="text-xl uppercase">Blog</a>
	</h2>
	<!-- <nav class="flex gap-3">
		<HeaderLink href="/" class="uppercase font-light">Home</HeaderLink>
		<HeaderLink href="/blog" class="uppercase font-light">Blog</HeaderLink>
	</nav> -->
</header>
